/* Global CSS: Resetting style declaration */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* -------------------------------- */
/* Font File */

body {
    font-family: "Roboto", sans-serif;
    width: 100%;
}
/*Top header style declaration start here*/
.top_header {
    height: 56px;
    overflow: hidden;
}
.column {
    float: left;
    height: 50px;
    margin: 3px 0%;
    padding: 5px 0 0 20px;
}
.top_left {
    width: 25%;
}
.search_container {
    width: 50%;
}
.top_right {
    width: 25%;
}
/* Top right section declaration start here */
.ultron_icon {
    float: left;
    height: 24px;
    margin: 8px;
}
.menu_icon {
    opacity: 0.6;
}
/* Top right section declaration start here */

/* Search Section Styling */
.search_input img {
    width: 20px;
}
.form_wrapper {
    width: 650px;
    margin: 0 auto;
    margin-top: 4px;
    overflow: hidden;
}
.form_wrapper input {
    float: left;
    height: 32px;
    width: 575px;
    padding: 2px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 2px 0px 0px 2px;
    cursor: text;
}
.form_wrapper button {
    float: left;
    height: 32px;
    width: 65px;
    border: 1px solid #ccc;
    border-radius: 0px 2px 2px 0px;
    padding-top: 3px;
    cursor: pointer;
}
.form_wrapper img {
    opacity: 0.6;
    margin-right: 5px;
}
/* Search section declaration end here */

/* Top Right section declaration start here */
.hot_link {
    float: right;
    overflow: hidden;
    margin-right: 30px;
}
.hot_link .user {
    width: 32px;
    height: 32px;
    background-color: #dbdbdb;
    text-align: center;
    padding: 3px;
    padding-top: 7px;
    border-radius: 50px;
    margin: 4px 2px 2px 10px;
}
.user a {
    color: gray;
    font-family: sans-serif;
    text-decoration: none;
}
.hot_link img {
    opacity: 0.6;
}
/* ------------------------------- */
/*Top header style declaration end here*/

/* Main content declaration start here */
.main {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}
.content {
    float: left;
    width: 70%;
}
.sidebar {
    float: left;
    width: 30%;
    padding-left: 30px;
    padding-right: 15px;
}

/* Main video & informations declaration start here */
.main {
    margin-top: 20px;
}
.video_container video {
    width: 100%;
    outline: none;
}
.video_container h1 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}
.social_box {
    overflow: hidden;
    color: #606060;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 2.5em;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
}
.views_time p {
    float: left;
}
.views_time span {          /* Bullet style declaration */
    font-weight: 600;
    padding-left: 3px;
    padding-right: 3px;
}
.social_links {
    float:right;
}
.social_column {
    float: left;
}
.links_container {
    float: right;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.links_container p {
    margin-left: 15px;
    overflow: hidden;
}
.ultron_icon2 {
    float: left;
    margin: 8px;
    width: 20px;
    height: 20px;
    opacity: 0.6;
}
.form_wrapper input, button {
    outline: none;
}
/* Main video & informations declaration end here */

/* Brief Information Section declaration start here */
.brief_info img {
    float: left;
    width: 48px;
    height: 48px;
    background-color: #000000;
    border-radius: 50px;
    padding: 5px;
    margin-right: 20px;
}
.creator_name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.subscriber {
    color: #888888;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.creator_data {
    overflow: hidden;
    margin-top: 25px;
}
.subBtn {
    float: right;
    width: 100px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #ff0000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
.project_desc {
    float: left;
    overflow: hidden;
    width: 51%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 30px;
}
.creatorData_contain {
    float: left;
    width: 50%;
}
.subBtn_contain {
    float: left;
    width: 50%
}
.showMoreBtn {
    color: #606060;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
.brief_info {
    overflow: hidden;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 15px;
}
/* Brief Information Section declaration end here */

/* Comment Section declaration start here */
.comment_heading {
    overflow: hidden;
    margin-top: 24px;
    line-height: 1.6em;
}
.comment_heading h2 {
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 30px;
}
.ultron_icon3 {
    float: left;
    width: 24px;
    margin-right: 7px;
    opacity: 0.6;
}
.comment_heading p {
    color: #606060;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
.commenter_img {        /* Multi Image Selector */
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 20px;
}
.comment_textarea input {
    width: 100%;
    height: 27px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 7px;
    outline: none;
}
.comment_agreement {
    float: left;
    width: 60%;
    font-size: 13px;
    color: #606060;
    padding-top: 8px;
}
.textBtn {
    overflow: hidden;
}
.postBtn {
    float: left;
    width: 40%;
}
.postBtn_right {
    float: right;
}
.commentInfo_Btn {
    overflow: hidden;
    line-height: 1.2em;
}
.Btn_style {
    display: inline-block;
    color: #606060;
    border: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 80px;
    height: 35px;
    padding-top: 8px;
    text-decoration: none; 
    cursor: pointer;
}
.commentBtn {
    color: #fff;
    width: 100px;
    background-color: #ccc;
    text-decoration:none;
    border-radius: 3px;
}
.commentBtn:link,
.commentBtn:hover {
    background-color: #065fd4;
}
.comment_box {
    margin-top: 25px;
}
.commenter_form {
    margin-bottom: 40px;
}
/* Comment Section declaration end here */

/* Reuseable Commenter Style Declaration */
.comments {
    overflow: hidden;
}
.username {
    color: #030303;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
}
.comment_date {
    color: #606060;
    font-weight: 400;
}
.comment_post {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    line-height: 1.4em;
}
.ultron_icon4 {
    float: left;
    width: 16px;
    opacity: 0.5;
    margin: 2px 6px 8px 0;
}
.comment_reply {
    font-size: 13px;
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 6px;
}
.comment_links {
    margin-top: 10px;
    overflow: hidden;
}
.comment_links p {
    line-height: 1.7em;
}
.comment_wrapper {
    margin-bottom: 20px;
}
.comment_links p {
    float: left;
    font-size: 13px;
}
.likes_count {
    color: #606060;
    margin-right: 13px;
    font-weight: 500;
}
.pointer {
    float: left;
    width: 20px;
    margin-right: 10px;
}
.view_rest_reply {
    float: left;
    color: #065fd4;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding-top: 2px;
    margin-bottom: 15px;
}
.view_reply {
    overflow: hidden;
    margin-top: 3px;
}
.timer {
    color: #065fd4;
}
/* Reuseable Commenter Style Declaration end here */

/* Sidebar/Aside Style Declaration start here */
.up_next {
    overflow: hidden;
}
.upcoming {
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding-top: 1.5px;

}
.tuggle {
    float: right;
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.tuggle_button {
    float: left;
    height: 22px;
}
.auto {
    float: left;
    padding-top: 4px;
    margin-right: 10px;
}
/* Main Sidebar content start here */
.sidebar_image{
    float: left;
    border-radius: 3px;
    width: 168px;
}
.advert_heading {
    color: #000000;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
.anchor_content a {
    float: left;
    text-decoration: none;
    padding-right: 10px;
}
.anchor_content {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 20px;
}
.author_name p {
    float: left;
    color: #606060;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}
.author_name {
    padding-top: 5px;
}
.image_container {
    overflow: hidden;
    margin-top: 15px;
}
.verified {
    width: 13px;
    opacity: 0.5;
    margin-left: 5px;
}
.advert_rating {
    font-size: 13px;
    padding-top: 2px;
}
.advert_rating p {
    float: left;
    color: #606060;
    font-family: "Roboto", sans-serif;
}
.advert_rating span {           /* Bullet Style declaration */
    font-weight: 600;
    padding-left: 3px;
    padding-right: 3px;
}
.advert_divider {
    border-bottom: 1px solid #d4d4d4;
    padding-top: 15px;
    margin-bottom: 10px;
}
.image_gap {
    margin-top: 8px;
}
.new_advert {
    font-size: 11px;
    color: #525252;
    font-family: "Roboto", sans-serif;
    margin-top: 2px;
    background-color: #ccc;
    width: 30px;
    text-align: center;
    padding: 1px 0px 1px 0px;
    border-radius: 2px;
}