/* Global CSS: Resetting style declaration */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* -------------------------------- */

/*Top header style declaration start here*/
.top_header {
    height: 56px;
    background-color: #f3c6c6;
    overflow: hidden;
}
.column {
    float: left;
    height: 50px;
    margin: 3px 0%;
}
.logo_box {
    width: 25%;
    background-color: #ff0000;
}
.search_box {
    width: 50%;
    background-color: #f16d6d;
}
.link_box {
    width: 25%;
    background-color: #8f4545;
}
/* Each columns element styling */
.menu_icon {
    width: 24px;
}
/*Top header style declaration end here*/

/* Main content declaration start here */
.content {
    float: left;
    width: 70%;
    height: 900px;
    background-color: #fcd999;
}
.sidebar {
    float: left;
    width: 30%;
    height: 900px;
    background-color: #ffca68;
}
.page {
    overflow: hidden;
}
